<a href="https://colab.research.google.com/github/gongboogi/Python-Practice/blob/main/Pandas%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **판다스 기초**

In [11]:
import pandas as pd

In [21]:
from pandas import Series, DataFrame

#### Series 사용법

: Series는 1차원 배열 객체다. 판다스는 넘파이의 array를 기반으로 고유한 데이터 구조를 만든다.

In [12]:
# Series
sample_pandas_data = pd.Series([0,10,20,30,40,50,60,70,80,90])
print(sample_pandas_data)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

Series 객체를 print하면 두 개 그룹의 값이 출력된다. 

앞쪽 0~9, 10개의 값은 원소의 인덱스, dtype은 데이터 형이다.

In [4]:
# index를 알파벳으로 붙임
sample_pandas_data = pd.Series(
    [0,10,20,30,40,50,60,70,80,90],
    index = ['a', 'b', 'c', 'd', 'e','f', 'g', 'h', 'i', 'j'])
print(sample_pandas_data)

a     0
b    10
c    20
d    30
e    40
f    50
g    60
h    70
i    80
j    90
dtype: int64

In [7]:
#values와 index 속성을 지정해 개별적으로 출력 가능
print('데이터값: ', sample_pandas_data.values)
print('인덱스값: ', sample_pandas_data.index)

데이터값:  [ 0 10 20 30 40 50 60 70 80 90]
인덱스값:  Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

#### DataFrame 사용법

DataFrame 객체는 2차원 배열이다. 각 열에 다른 dtype(데이터형)을 가질 수 있다.

In [26]:
attri_data1 = {'ID' : ['100', '101', '102', '103', '104'],
               'City' : ['Seoul', 'Pusan;', 'Daegu', 'Gangneung', 'Seoul'],
               'Birth_year' : [1990, 2001, 2004, 1998, 1982],
               'Name' : ['Ayoung', 'Hanbyul', 'Insung', 'Steve', 'Minho']}

In [27]:
attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)

    ID       City  Birth_year     Name
0  100      Seoul        1990   Ayoung
1  101     Pusan;        2001  Hanbyul
2  102      Daegu        2004   Insung
3  103  Gangneung        1998    Steve
4  104      Seoul        1982    Minho

In [30]:
attri_data_frame_index1 = DataFrame(attri_data1, index = ['a', 'b', 'c', 'd', 'e'])
print(attri_data_frame_index1)

    ID       City  Birth_year     Name
a  100      Seoul        1990   Ayoung
b  101     Pusan;        2001  Hanbyul
c  102      Daegu        2004   Insung
d  103  Gangneung        1998    Steve
e  104      Seoul        1982    Minho

#### 주피터 환경에서 데이터 출력

Series 객체나 DataFrame 객체를 출력할 때 print 함수를 사용했다. 주피터 환경에서는 데이터의 변수를 다음 코드와 같은 방법으로 보기 좋게 출력할 수도 있다.

In [31]:
attri_data_frame_index1

    ID       City  Birth_year     Name
a  100      Seoul        1990   Ayoung
b  101     Pusan;        2001  Hanbyul
c  102      Daegu        2004   Insung
d  103  Gangneung        1998    Steve
e  104      Seoul        1982    Minho

#### 행렬 다루기

DataFrame으로 다양한 행렬 연산이 가능하다.

**전치**

전치행렬처럼 행과 열을 바꾸는 경우 .T 메서드를 사용.

In [32]:
# 전치
attri_data_frame1.T

                 0        1       2          3      4
ID             100      101     102        103    104
City         Seoul   Pusan;   Daegu  Gangneung  Seoul
Birth_year    1990     2001    2004       1998   1982
Name        Ayoung  Hanbyul  Insung      Steve  Minho

**특정 열만 추출하기**

특정 열만 지정할 때는 데이터 다음에 열 이름을 지정.

복수의 열은 파이썬 리스트 형식으로 지정한다.

In [33]:
# 열 이름 지정( 1개일 경우)
attri_data_frame1.Name

0     Ayoung
1    Hanbyul
2     Insung
3      Steve
4      Minho
Name: Name, dtype: object

In [ ]:
# 열 이름 지정(복수일 경우)